li {
    cursor: pointer;
}

.list {
    list-style: none;
}

.text-logo {
    color: #2196F3;
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    text-decoration: none;
}

.text-logo-accent {
    color: #000000
}

.text-logo-footer {
    color: #FFFFFF;
}

/*Navigation*/
.nav-menu {
    color: #212121;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.nav-menu :hover,
.nav-menu :focus {
    color: #2196F3;
}

.nav-menu a {
    text-decoration: none;
}

/*Hero*/
.hero-title {
    color: #FFF;
    text-align: center;
    font-size: 44px;
    font-family: Roboto;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.hero-color {
    background: #F5F4FA;
}

/*Section*/
.section-title {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    letter-spacing: 1.08px;
}

.name {
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.48px;
}

.speciality {
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-family: Roboto;
    letter-spacing: 0.48px;
}

/*Peculiarities*/

.about-title {
    color: #212121;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.about-title-text {
    color: #757575;
    font-size: 14px;
    font-family: Roboto;
    line-height: 24px;
    letter-spacing: 0.42px;
}

/*Our team*/
.team-color {
    background: #F5F4FA;
}

/*Footer*/
.adress {
    color: #FFFFFF;
    font-size: 14px;
    font-family: Roboto;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.link-footer {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-family: Roboto;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer {
    background: #2F303A;
}